/* colors */

* {
 bg:#282828;
 bg1:#282828;
 bg2:#282828;
 bg3:#282828;
 fg:#dfbf8e;
 fg1:#dfbf8e;
 fg2:#dfbf8e;
  red: #ea6962;
  orange:#e3a84e;
  yellow:#e78a4e;
  magenta:#d3869b;
  cyan:#89b482;
  blue:#7daea3;
  green:#a9b665;
  transparent: #00000000;
}
